#s-0944687f-100c-4ebb-90a4-8daa19d6e7bb #s-Background {
  -ms-transform: rotate(0.0deg);
}
#s-0944687f-100c-4ebb-90a4-8daa19d6e7bb #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-0944687f-100c-4ebb-90a4-8daa19d6e7bb #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-0944687f-100c-4ebb-90a4-8daa19d6e7bb #s-Icons_5 {
  -ms-transform: rotate(0.0deg);
}
#s-0944687f-100c-4ebb-90a4-8daa19d6e7bb #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-0944687f-100c-4ebb-90a4-8daa19d6e7bb #s-Ellipse_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-0944687f-100c-4ebb-90a4-8daa19d6e7bb #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-0944687f-100c-4ebb-90a4-8daa19d6e7bb #s-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-0944687f-100c-4ebb-90a4-8daa19d6e7bb #s-Panel_5 > .valign {
  vertical-align: top;
}
#s-0944687f-100c-4ebb-90a4-8daa19d6e7bb #s-Icons_6 {
  -ms-transform: rotate(0.0deg);
}
#s-0944687f-100c-4ebb-90a4-8daa19d6e7bb #s-Label_54 {
  -ms-transform: rotate(0.0deg);
}
#s-0944687f-100c-4ebb-90a4-8daa19d6e7bb #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-0944687f-100c-4ebb-90a4-8daa19d6e7bb #s-Label_32 {
  -ms-transform: rotate(0.0deg);
}
#s-0944687f-100c-4ebb-90a4-8daa19d6e7bb #s-Label_34 {
  -ms-transform: rotate(0.0deg);
}
#s-0944687f-100c-4ebb-90a4-8daa19d6e7bb #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-0944687f-100c-4ebb-90a4-8daa19d6e7bb #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-0944687f-100c-4ebb-90a4-8daa19d6e7bb #s-Label_13 {
  -ms-transform: rotate(0.0deg);
}
#s-0944687f-100c-4ebb-90a4-8daa19d6e7bb #s-Label_14 {
  -ms-transform: rotate(0.0deg);
}
#s-0944687f-100c-4ebb-90a4-8daa19d6e7bb #s-Ellipse_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #4A86E8;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #4A86E8;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #4A86E8;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #4A86E8;
  -ms-transform: rotate(0.0deg);
}
#s-0944687f-100c-4ebb-90a4-8daa19d6e7bb #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-0944687f-100c-4ebb-90a4-8daa19d6e7bb #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-0944687f-100c-4ebb-90a4-8daa19d6e7bb #s-Ellipse_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-0944687f-100c-4ebb-90a4-8daa19d6e7bb #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-0944687f-100c-4ebb-90a4-8daa19d6e7bb #s-Ellipse_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-0944687f-100c-4ebb-90a4-8daa19d6e7bb #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-0944687f-100c-4ebb-90a4-8daa19d6e7bb #s-Ellipse_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-0944687f-100c-4ebb-90a4-8daa19d6e7bb #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-0944687f-100c-4ebb-90a4-8daa19d6e7bb #s-Rectangle_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #4A86E8;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #4A86E8;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #4A86E8;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #4A86E8;
  -ms-transform: rotate(0.0deg);
}
#s-0944687f-100c-4ebb-90a4-8daa19d6e7bb #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-0944687f-100c-4ebb-90a4-8daa19d6e7bb #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-0944687f-100c-4ebb-90a4-8daa19d6e7bb #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-0944687f-100c-4ebb-90a4-8daa19d6e7bb #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-0944687f-100c-4ebb-90a4-8daa19d6e7bb #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-0944687f-100c-4ebb-90a4-8daa19d6e7bb #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-0944687f-100c-4ebb-90a4-8daa19d6e7bb #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-0944687f-100c-4ebb-90a4-8daa19d6e7bb #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-0944687f-100c-4ebb-90a4-8daa19d6e7bb #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-0944687f-100c-4ebb-90a4-8daa19d6e7bb #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-0944687f-100c-4ebb-90a4-8daa19d6e7bb #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-0944687f-100c-4ebb-90a4-8daa19d6e7bb #s-Label_10 {
  -ms-transform: rotate(0.0deg);
}
#s-0944687f-100c-4ebb-90a4-8daa19d6e7bb #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-0944687f-100c-4ebb-90a4-8daa19d6e7bb #s-Label_11 {
  -ms-transform: rotate(0.0deg);
}
#s-0944687f-100c-4ebb-90a4-8daa19d6e7bb #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-0944687f-100c-4ebb-90a4-8daa19d6e7bb #s-Label_12 {
  -ms-transform: rotate(0.0deg);
}
#s-0944687f-100c-4ebb-90a4-8daa19d6e7bb #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-0944687f-100c-4ebb-90a4-8daa19d6e7bb #s-Label_15 {
  -ms-transform: rotate(0.0deg);
}
#s-0944687f-100c-4ebb-90a4-8daa19d6e7bb #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-0944687f-100c-4ebb-90a4-8daa19d6e7bb #s-Label_16 {
  -ms-transform: rotate(0.0deg);
}
#s-0944687f-100c-4ebb-90a4-8daa19d6e7bb #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-0944687f-100c-4ebb-90a4-8daa19d6e7bb #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-0944687f-100c-4ebb-90a4-8daa19d6e7bb #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-0944687f-100c-4ebb-90a4-8daa19d6e7bb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}