#s-26131b85-28d4-4095-a4b4-5c055969aa2f #s-Background {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26131b85-28d4-4095-a4b4-5c055969aa2f #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26131b85-28d4-4095-a4b4-5c055969aa2f #s-Icons_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26131b85-28d4-4095-a4b4-5c055969aa2f #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26131b85-28d4-4095-a4b4-5c055969aa2f #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26131b85-28d4-4095-a4b4-5c055969aa2f #s-Label_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26131b85-28d4-4095-a4b4-5c055969aa2f #s-Label_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26131b85-28d4-4095-a4b4-5c055969aa2f #s-Label_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26131b85-28d4-4095-a4b4-5c055969aa2f #s-Label_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26131b85-28d4-4095-a4b4-5c055969aa2f #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26131b85-28d4-4095-a4b4-5c055969aa2f #s-Label_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26131b85-28d4-4095-a4b4-5c055969aa2f #s-Label_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26131b85-28d4-4095-a4b4-5c055969aa2f #s-Label_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26131b85-28d4-4095-a4b4-5c055969aa2f #s-Label_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26131b85-28d4-4095-a4b4-5c055969aa2f #s-Label_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26131b85-28d4-4095-a4b4-5c055969aa2f #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26131b85-28d4-4095-a4b4-5c055969aa2f #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26131b85-28d4-4095-a4b4-5c055969aa2f #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26131b85-28d4-4095-a4b4-5c055969aa2f #s-Label_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26131b85-28d4-4095-a4b4-5c055969aa2f #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26131b85-28d4-4095-a4b4-5c055969aa2f #s-Rich_text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26131b85-28d4-4095-a4b4-5c055969aa2f #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26131b85-28d4-4095-a4b4-5c055969aa2f #s-Button_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26131b85-28d4-4095-a4b4-5c055969aa2f #s-Button_50 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26131b85-28d4-4095-a4b4-5c055969aa2f #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26131b85-28d4-4095-a4b4-5c055969aa2f #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26131b85-28d4-4095-a4b4-5c055969aa2f #s-Button_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26131b85-28d4-4095-a4b4-5c055969aa2f #s-Button_52 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26131b85-28d4-4095-a4b4-5c055969aa2f #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-26131b85-28d4-4095-a4b4-5c055969aa2f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}