#s-5b68e892-77cc-4000-b34f-b71cf3d46f8d #s-Background {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b68e892-77cc-4000-b34f-b71cf3d46f8d #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b68e892-77cc-4000-b34f-b71cf3d46f8d #s-Icons_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b68e892-77cc-4000-b34f-b71cf3d46f8d #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b68e892-77cc-4000-b34f-b71cf3d46f8d #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b68e892-77cc-4000-b34f-b71cf3d46f8d #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b68e892-77cc-4000-b34f-b71cf3d46f8d #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b68e892-77cc-4000-b34f-b71cf3d46f8d #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b68e892-77cc-4000-b34f-b71cf3d46f8d #s-Text_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97) ;
  filter: alpha(opacity=97) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b68e892-77cc-4000-b34f-b71cf3d46f8d #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b68e892-77cc-4000-b34f-b71cf3d46f8d #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b68e892-77cc-4000-b34f-b71cf3d46f8d #s-Label_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b68e892-77cc-4000-b34f-b71cf3d46f8d #s-Label_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b68e892-77cc-4000-b34f-b71cf3d46f8d #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b68e892-77cc-4000-b34f-b71cf3d46f8d #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b68e892-77cc-4000-b34f-b71cf3d46f8d #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b68e892-77cc-4000-b34f-b71cf3d46f8d #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b68e892-77cc-4000-b34f-b71cf3d46f8d #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b68e892-77cc-4000-b34f-b71cf3d46f8d #s-Button_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b68e892-77cc-4000-b34f-b71cf3d46f8d #s-Button_18 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b68e892-77cc-4000-b34f-b71cf3d46f8d #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b68e892-77cc-4000-b34f-b71cf3d46f8d #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b68e892-77cc-4000-b34f-b71cf3d46f8d #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b68e892-77cc-4000-b34f-b71cf3d46f8d #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b68e892-77cc-4000-b34f-b71cf3d46f8d #s-Label_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b68e892-77cc-4000-b34f-b71cf3d46f8d #s-Label_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b68e892-77cc-4000-b34f-b71cf3d46f8d #s-Line_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-5b68e892-77cc-4000-b34f-b71cf3d46f8d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}