#s-6683ac94-d925-42f2-933a-e8efccaa5d97 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Background {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 640px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Arial,Arial;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Background .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Background span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Background span#rtr-s-Background_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Statusbar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 20px;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Rectangle_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-right: 8px;
  width: 352px;
  height: 20px;
  background-color: #000000;
  background-image: none;
  opacity: 0.15;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Light,Arial;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Rectangle_3 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Dynamic_Panel_3 {
  position: absolute;
  top: 0px;
  left: 0px;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Panel_4 {
  width: 360px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Icons_5 {
  width: 61px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Label_30 {
  padding-right: 5px;
  width: 41px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Light,Arial;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Label_30 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Label_30 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Label_30 span#rtr-s-Label_30_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Title-bar-color_1 {
  position: absolute;
  top: 20px;
  left: 0px;
  width: 360px;
  height: 39px;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Label_31 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 38px;
  padding-left: 73px;
  width: 287px;
  height: 1px;
  background-color: #2A333B;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: -3px 0px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Roboto-Light,Arial;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Label_31 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Label_31 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Label_31 span#rtr-s-Label_31_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Label_32 {
  position: absolute;
  top: 5px;
  left: 11px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 19.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Label_32 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Label_32 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 19.0pt;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Label_32 span#rtr-s-Label_32_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 19.0pt;
  line-height: 0px;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Label_34 {
  position: absolute;
  top: 7px;
  left: 328px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 19.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Label_34 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Label_34 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 19.0pt;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Label_34 span#rtr-s-Label_34_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 19.0pt;
  line-height: 0px;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Image_1 {
  position: absolute;
  top: 23px;
  left: 48px;
  width: 37px;
  height: 33px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_1 {
  position: absolute;
  top: 25px;
  left: 104px;
  width: 190px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Arial,Arial;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Label_13 {
  position: absolute;
  top: 561px;
  left: 307px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Label_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Label_13 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Label_13 span#rtr-s-Label_13_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Group_5 {
  position: absolute;
  top: 71px;
  left: 17px;
  width: 321px;
  height: 32px;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Select {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 125px;
  height: 32px;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Category_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 120px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  opacity: 0.99;
  box-shadow: none;
  text-shadow: none;
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  vertical-align: middle;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Category_3 .valign {
  width: 102px;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Line_4 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 125px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Line_5 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 125px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #shapewrapper-s-Line_5 {
  display: none;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Select_1 {
  position: absolute;
  top: 0px;
  left: 177px;
  width: 144px;
  height: 32px;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Category_4 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 139px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  opacity: 0.99;
  box-shadow: none;
  text-shadow: none;
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  vertical-align: middle;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Category_4 .valign {
  width: 121px;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Line_6 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 144px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Line_7 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 144px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #shapewrapper-s-Line_7 {
  display: none;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Table_1 {
  position: absolute;
  top: 124px;
  left: 11px;
  width: 342px;
  height: 183px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  box-shadow: none;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_1 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 81px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_1 span#rtr-s-Text_cell_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_4 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 143px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_4 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_4 span#rtr-s-Text_cell_4_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_7 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 84px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_7 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_7 span#rtr-s-Text_cell_7_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_2 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 81px;
  height: 14px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_2 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_2 span#rtr-s-Text_cell_2_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_5 {
  padding-top: 4px;
  padding-right: 5px;
  padding-bottom: 4px;
  padding-left: 5px;
  width: 143px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_5 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_5 span#rtr-s-Text_cell_5_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_8 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 84px;
  height: 14px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_8 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_8 span#rtr-s-Text_cell_8_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_3 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 81px;
  height: 14px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_3 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_3 span#rtr-s-Text_cell_3_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_3 span#rtr-s-Text_cell_3_1 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_6 {
  padding-top: 4px;
  padding-right: 5px;
  padding-bottom: 4px;
  padding-left: 5px;
  width: 143px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_6 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_6 span#rtr-s-Text_cell_6_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_9 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 84px;
  height: 14px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_9 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_9 span#rtr-s-Text_cell_9_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_10 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 81px;
  height: 14px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_10 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_10 span#rtr-s-Text_cell_10_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_10 span#rtr-s-Text_cell_10_1 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_11 {
  padding-top: 4px;
  padding-right: 5px;
  padding-bottom: 4px;
  padding-left: 5px;
  width: 143px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_11 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_11 span#rtr-s-Text_cell_11_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_12 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 84px;
  height: 14px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_12 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_12 span#rtr-s-Text_cell_12_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_13 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 81px;
  height: 14px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_13 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_13 span#rtr-s-Text_cell_13_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_13 span#rtr-s-Text_cell_13_1 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_14 {
  padding-top: 4px;
  padding-right: 5px;
  padding-bottom: 4px;
  padding-left: 5px;
  width: 143px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_14 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_14 span#rtr-s-Text_cell_14_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_15 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 84px;
  height: 14px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_15 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_15 span#rtr-s-Text_cell_15_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_16 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 81px;
  height: 14px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_16 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_16 span#rtr-s-Text_cell_16_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_16 span#rtr-s-Text_cell_16_1 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_17 {
  padding-top: 4px;
  padding-right: 5px;
  padding-bottom: 4px;
  padding-left: 5px;
  width: 143px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_17 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_17 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_17 span#rtr-s-Text_cell_17_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_18 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 84px;
  height: 14px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_18 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_18 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_18 span#rtr-s-Text_cell_18_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_19 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 81px;
  height: 14px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_19 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_19 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_19 span#rtr-s-Text_cell_19_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_19 span#rtr-s-Text_cell_19_1 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_20 {
  padding-top: 4px;
  padding-right: 5px;
  padding-bottom: 4px;
  padding-left: 5px;
  width: 143px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_20 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_20 span#rtr-s-Text_cell_20_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_21 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 84px;
  height: 14px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_21 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_21 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_cell_21 span#rtr-s-Text_cell_21_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Group_9 {
  position: absolute;
  top: 160px;
  left: 290px;
  width: 51px;
  height: 68px;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Button_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 49px;
  height: 16px;
  background-color: #4A86E8;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 1px 1px 1px 1px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Arial,Arial;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Button_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Button_7 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Button_7 span#rtr-s-Button_7_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Button_8 {
  position: absolute;
  top: 25px;
  left: 0px;
  width: 49px;
  height: 16px;
  background-color: #4A86E8;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 1px 1px 1px 1px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Arial,Arial;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Button_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Button_8 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Button_8 span#rtr-s-Button_8_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Button_9 {
  position: absolute;
  top: 50px;
  left: 0px;
  width: 49px;
  height: 16px;
  background-color: #4A86E8;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 1px 1px 1px 1px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Arial,Arial;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Button_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Button_9 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Button_9 span#rtr-s-Button_9_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Group_10 {
  position: absolute;
  top: 235px;
  left: 290px;
  width: 51px;
  height: 68px;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Button_10 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 49px;
  height: 16px;
  background-color: #4A86E8;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 1px 1px 1px 1px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Arial,Arial;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Button_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Button_10 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Button_10 span#rtr-s-Button_10_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Button_11 {
  position: absolute;
  top: 25px;
  left: 0px;
  width: 49px;
  height: 16px;
  background-color: #4A86E8;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 1px 1px 1px 1px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Arial,Arial;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Button_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Button_11 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Button_11 span#rtr-s-Button_11_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Button_12 {
  position: absolute;
  top: 50px;
  left: 0px;
  width: 49px;
  height: 16px;
  background-color: #4A86E8;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 1px 1px 1px 1px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Arial,Arial;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Button_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Button_12 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Button_12 span#rtr-s-Button_12_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Group_1 {
  position: absolute;
  top: 157px;
  left: 262px;
  width: 26px;
  height: 150px;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-checkbox-on-light_4 {
  position: absolute;
  top: 0px;
  left: 2px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-checkbox-on-light_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-checkbox-on-light_4 span {
  color: #08AE9E;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 18.0pt;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-checkbox-on-light_4 span#rtr-s-checkbox-on-light_4_0 {
  color: #08AE9E;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-checkbox-on-light_6 {
  position: absolute;
  top: 50px;
  left: 1px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-checkbox-on-light_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-checkbox-on-light_6 span {
  color: #BCBCBC;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 18.0pt;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-checkbox-on-light_6 span#rtr-s-checkbox-on-light_6_0 {
  color: #BCBCBC;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-checkbox-on-light_5 {
  position: absolute;
  top: 24px;
  left: 2px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-checkbox-on-light_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-checkbox-on-light_5 span {
  color: #08AE9E;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 18.0pt;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-checkbox-on-light_5 span#rtr-s-checkbox-on-light_5_0 {
  color: #08AE9E;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-checkbox-on-light_7 {
  position: absolute;
  top: 74px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-checkbox-on-light_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-checkbox-on-light_7 span {
  color: #BCBCBC;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 18.0pt;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-checkbox-on-light_7 span#rtr-s-checkbox-on-light_7_0 {
  color: #BCBCBC;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-checkbox-on-light_8 {
  position: absolute;
  top: 99px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-checkbox-on-light_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-checkbox-on-light_8 span {
  color: #BCBCBC;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 18.0pt;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-checkbox-on-light_8 span#rtr-s-checkbox-on-light_8_0 {
  color: #BCBCBC;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-checkbox-on-light_9 {
  position: absolute;
  top: 125px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-checkbox-on-light_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-checkbox-on-light_9 span {
  color: #BCBCBC;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 18.0pt;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-checkbox-on-light_9 span#rtr-s-checkbox-on-light_9_0 {
  color: #BCBCBC;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Animated-button-light {
  position: absolute;
  top: 412px;
  left: 19px;
  width: 321px;
  height: 46px;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Button_17 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 317px;
  height: 42px;
  background-color: #08AE9E;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 15.0pt;
  font-family: Roboto Regular,Arial;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Button_17 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Button_17 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto Regular,Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Button_17 span#rtr-s-Button_17_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto Regular,Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Button_18 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 321px;
  height: 46px;
  background-color: #FFFFFF;
  background-image: none;
  opacity: 0.35;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 15.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Button_18 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Button_18 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 15.0pt;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Button_18 span#rtr-s-Button_18_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_2 {
  position: absolute;
  top: 374px;
  left: 28px;
  width: 305px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-6683ac94-d925-42f2-933a-e8efccaa5d97 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}