#s-80aaf071-0ae0-4558-ab79-2229a8520378 #s-Background {
  -ms-transform: rotate(0.0deg);
}
#s-80aaf071-0ae0-4558-ab79-2229a8520378 #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-80aaf071-0ae0-4558-ab79-2229a8520378 #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-80aaf071-0ae0-4558-ab79-2229a8520378 #s-Icons_5 {
  -ms-transform: rotate(0.0deg);
}
#s-80aaf071-0ae0-4558-ab79-2229a8520378 #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-80aaf071-0ae0-4558-ab79-2229a8520378 #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-80aaf071-0ae0-4558-ab79-2229a8520378 #s-Label_32 {
  -ms-transform: rotate(0.0deg);
}
#s-80aaf071-0ae0-4558-ab79-2229a8520378 #s-Label_34 {
  -ms-transform: rotate(0.0deg);
}
#s-80aaf071-0ae0-4558-ab79-2229a8520378 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-80aaf071-0ae0-4558-ab79-2229a8520378 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-80aaf071-0ae0-4558-ab79-2229a8520378 #s-Label_13 {
  -ms-transform: rotate(0.0deg);
}
#s-80aaf071-0ae0-4558-ab79-2229a8520378 #s-Table_1 {
  border-collapse: separate;
}
#s-80aaf071-0ae0-4558-ab79-2229a8520378 #s-Button_17 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 1px 1px 1px 1px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 80px;
  height: 16px;
  -ms-transform: rotate(0.0deg);
}
#s-80aaf071-0ae0-4558-ab79-2229a8520378 #s-Button_18 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35);
  filter: alpha(opacity=35);
  -ms-transform: rotate(0.0deg);
}
#s-80aaf071-0ae0-4558-ab79-2229a8520378 #s-Button_19 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 1px 1px 1px 1px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 80px;
  height: 16px;
  -ms-transform: rotate(0.0deg);
}
#s-80aaf071-0ae0-4558-ab79-2229a8520378 #s-Button_20 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35);
  filter: alpha(opacity=35);
  -ms-transform: rotate(0.0deg);
}
#s-80aaf071-0ae0-4558-ab79-2229a8520378 #s-Button_21 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 1px 1px 1px 1px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 80px;
  height: 16px;
  -ms-transform: rotate(0.0deg);
}
#s-80aaf071-0ae0-4558-ab79-2229a8520378 #s-Button_22 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35);
  filter: alpha(opacity=35);
  -ms-transform: rotate(0.0deg);
}
#s-80aaf071-0ae0-4558-ab79-2229a8520378 #s-Category_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
}
#s-80aaf071-0ae0-4558-ab79-2229a8520378 #s-Category_3-options {
  background-color: #FFFFFF;
}
#s-80aaf071-0ae0-4558-ab79-2229a8520378 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-80aaf071-0ae0-4558-ab79-2229a8520378 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-80aaf071-0ae0-4558-ab79-2229a8520378 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-80aaf071-0ae0-4558-ab79-2229a8520378 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-80aaf071-0ae0-4558-ab79-2229a8520378 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-80aaf071-0ae0-4558-ab79-2229a8520378 #s-Button_23 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 123px;
  height: 42px;
  -ms-transform: rotate(0.0deg);
}
#s-80aaf071-0ae0-4558-ab79-2229a8520378 #s-Button_24 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35);
  filter: alpha(opacity=35);
  -ms-transform: rotate(0.0deg);
}
#s-80aaf071-0ae0-4558-ab79-2229a8520378 #s-Button_25 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 190px;
  height: 42px;
  -ms-transform: rotate(0.0deg);
}
#s-80aaf071-0ae0-4558-ab79-2229a8520378 #s-Button_26 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35);
  filter: alpha(opacity=35);
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-80aaf071-0ae0-4558-ab79-2229a8520378 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}