#s-c096e1af-0d2c-43d8-9993-a14b5098e896 #s-Background {
  -ms-transform: rotate(0.0deg);
}
#s-c096e1af-0d2c-43d8-9993-a14b5098e896 #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-c096e1af-0d2c-43d8-9993-a14b5098e896 #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-c096e1af-0d2c-43d8-9993-a14b5098e896 #s-Icons_5 {
  -ms-transform: rotate(0.0deg);
}
#s-c096e1af-0d2c-43d8-9993-a14b5098e896 #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-c096e1af-0d2c-43d8-9993-a14b5098e896 #s-Label_50 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-c096e1af-0d2c-43d8-9993-a14b5098e896 #s-Label_51 {
  -ms-transform: rotate(0.0deg);
}
#s-c096e1af-0d2c-43d8-9993-a14b5098e896 #s-Panel_13 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=96);
  filter: alpha(opacity=96);
}
#s-c096e1af-0d2c-43d8-9993-a14b5098e896 #s-Panel_13 > .valign {
  vertical-align: top;
}
#s-c096e1af-0d2c-43d8-9993-a14b5098e896 #s-Label_29 {
  -ms-transform: rotate(0.0deg);
}
#s-c096e1af-0d2c-43d8-9993-a14b5098e896 #s-Label_33 {
  -ms-transform: rotate(0.0deg);
}
#s-c096e1af-0d2c-43d8-9993-a14b5098e896 #s-Label_35 {
  -ms-transform: rotate(0.0deg);
}
#s-c096e1af-0d2c-43d8-9993-a14b5098e896 #s-Line_10 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #FFFF8D;
  -ms-transform: rotate(0.0deg);
}
#s-c096e1af-0d2c-43d8-9993-a14b5098e896 #s-Line_10 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #FFFF8D;
  -ms-transform: rotate(0.0deg);
}
#s-c096e1af-0d2c-43d8-9993-a14b5098e896 #s-Rectangle_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-c096e1af-0d2c-43d8-9993-a14b5098e896 #s-Label_52 {
  -ms-transform: rotate(0.0deg);
}
#s-c096e1af-0d2c-43d8-9993-a14b5098e896 #s-Label_53 {
  -ms-transform: rotate(0.0deg);
}
#s-c096e1af-0d2c-43d8-9993-a14b5098e896 #s-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-c096e1af-0d2c-43d8-9993-a14b5098e896 #s-Panel_5 > .valign {
  vertical-align: top;
}
#s-c096e1af-0d2c-43d8-9993-a14b5098e896 #s-Icons_6 {
  -ms-transform: rotate(0.0deg);
}
#s-c096e1af-0d2c-43d8-9993-a14b5098e896 #s-Label_54 {
  -ms-transform: rotate(0.0deg);
}
#s-c096e1af-0d2c-43d8-9993-a14b5098e896 #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-c096e1af-0d2c-43d8-9993-a14b5098e896 #s-Label_32 {
  -ms-transform: rotate(0.0deg);
}
#s-c096e1af-0d2c-43d8-9993-a14b5098e896 #s-Label_34 {
  -ms-transform: rotate(0.0deg);
}
#s-c096e1af-0d2c-43d8-9993-a14b5098e896 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c096e1af-0d2c-43d8-9993-a14b5098e896 #s-Rectangle_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-c096e1af-0d2c-43d8-9993-a14b5098e896 #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-c096e1af-0d2c-43d8-9993-a14b5098e896 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c096e1af-0d2c-43d8-9993-a14b5098e896 #s-Rectangle_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-c096e1af-0d2c-43d8-9993-a14b5098e896 #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-c096e1af-0d2c-43d8-9993-a14b5098e896 #s-Rectangle_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-c096e1af-0d2c-43d8-9993-a14b5098e896 #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-c096e1af-0d2c-43d8-9993-a14b5098e896 #s-Rectangle_15 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-c096e1af-0d2c-43d8-9993-a14b5098e896 #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-c096e1af-0d2c-43d8-9993-a14b5098e896 #s-Rectangle_16 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-c096e1af-0d2c-43d8-9993-a14b5098e896 #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-c096e1af-0d2c-43d8-9993-a14b5098e896 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}