#s-f7234ca8-e4ef-4ff1-b979-3a24e829d1ca #s-Background {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7234ca8-e4ef-4ff1-b979-3a24e829d1ca #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7234ca8-e4ef-4ff1-b979-3a24e829d1ca #s-Icons_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7234ca8-e4ef-4ff1-b979-3a24e829d1ca #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7234ca8-e4ef-4ff1-b979-3a24e829d1ca #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7234ca8-e4ef-4ff1-b979-3a24e829d1ca #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7234ca8-e4ef-4ff1-b979-3a24e829d1ca #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7234ca8-e4ef-4ff1-b979-3a24e829d1ca #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7234ca8-e4ef-4ff1-b979-3a24e829d1ca #s-Text_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97) ;
  filter: alpha(opacity=97) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7234ca8-e4ef-4ff1-b979-3a24e829d1ca #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7234ca8-e4ef-4ff1-b979-3a24e829d1ca #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7234ca8-e4ef-4ff1-b979-3a24e829d1ca #s-Label_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7234ca8-e4ef-4ff1-b979-3a24e829d1ca #s-Label_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7234ca8-e4ef-4ff1-b979-3a24e829d1ca #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7234ca8-e4ef-4ff1-b979-3a24e829d1ca #s-Button_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7234ca8-e4ef-4ff1-b979-3a24e829d1ca #s-Button_18 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7234ca8-e4ef-4ff1-b979-3a24e829d1ca #s-Button_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7234ca8-e4ef-4ff1-b979-3a24e829d1ca #s-Button_20 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7234ca8-e4ef-4ff1-b979-3a24e829d1ca #s-Line_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7234ca8-e4ef-4ff1-b979-3a24e829d1ca #s-Line_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7234ca8-e4ef-4ff1-b979-3a24e829d1ca #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7234ca8-e4ef-4ff1-b979-3a24e829d1ca #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7234ca8-e4ef-4ff1-b979-3a24e829d1ca #s-Line_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7234ca8-e4ef-4ff1-b979-3a24e829d1ca #s-Line_16 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7234ca8-e4ef-4ff1-b979-3a24e829d1ca #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7234ca8-e4ef-4ff1-b979-3a24e829d1ca #s-Label_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7234ca8-e4ef-4ff1-b979-3a24e829d1ca #s-Label_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7234ca8-e4ef-4ff1-b979-3a24e829d1ca #s-Label_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7234ca8-e4ef-4ff1-b979-3a24e829d1ca #s-Line_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-f7234ca8-e4ef-4ff1-b979-3a24e829d1ca > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}